<div ng-controller="DashboardController">	
	<div id="dvImportSegments" class="fileupload ">
	    <fieldset>
	        <legend>Upload your CSV file</legend>
	    	<form>
	            <input type="text" id="file" name="file" value="foo" ng-model="newFilePositions.file">
				<input type="submit" value="add positions" ng-click="addPositionViaFile()"></input>
	    	</form>
	   	</fieldset>
	    <fieldset>
	        <legend>Manually enter each position</legend>
	    	<form>
	            <label for="symbol">Symbol:</label>
	            <input type="text" id="man_symbol" name="symbol" ng-model="newManualPosition.symbol">
	            <label for="qty">Qty:</label>
	            <input type="text" id="man_qty" name="qty" ng-model="newManualPosition.qty">
	            <!-- <input type="submit" value="add"> -->
				<input type="submit" value="add position" ng-click="addPositionManually()"></input>
	        </form>
	   	</fieldset>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Symbol</th>
				<th>Qty</th>
				<th>Quote</th>
				<th>Value</th>
				<th>ValuePct</th>
				<th>1yearAgo</th>
				<th>2yearAgo</th>
				<th>3yearAgo</th>

			</tr>
		</thead>
		<tbody id="allData">
			<tr ng-repeat="position in positions | orderBy:'-valuePct'">
				<td>{{position.name}}</td>
				<td>{{position.symbol}}</td>
				<td>{{position.qty}}</td>
				<td>${{position.quote}}</td>
				<td>${{position.value}}</td>
				<td>{{position.valuePct}}%</td>
				<td>${{position.historicalQuotes[1]}}</td>
				<td>${{position.historicalQuotes[2]}}</td>
				<td>${{position.historicalQuotes[3]}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<th>TOTAL:</th>
				<th>${{getTotal()}}</th>
				<th>100%</th>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		</tbody>
	</table>


	<form id="visualize">
	  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
	  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
	</form>
	<script>

	// Name	Symbol	Qty	Quote	Value	ValuePct	Performance
	// W.R. Berkley Corporation Common	WRB	250	$56.26	$14065.00	36%	0.1128
	// Walt Disney Company (The) Commo	DIS	50	$116.44	$5822.00	15%	0.1039
	// Bristol-Myers Squibb Company Co	BMY	82	$69.27	$5680.14	14%	0.0781
	// The Blackstone Group L.P. Commo	BX	125	$39.61	$4951.25	12%	0.0109
	// Allied World Assurance Company	AWH	100.584	$44.6	$4486.05	11%	0.08689999999999999
	// Dollar General Corporation Comm	DG	45	$79.47	$3576.15	9%	0.0843
	// TOTAL:	$38580.59	100%

	// WRB 0.36 0.1128
	// DIS 0.15 0.1039
	// AWH 0.11 0.08689999999999999
	// DG 0.09	0.0843
	// BMY 0.14 0.0781
	// BX 0.12	0.0109

	//HISTORICAL adjClose: 2015-07-10 2014-07-15, 2013-07-15, 2012-07-15
	// WRB 56.259998 44.75884 42.425345 36.445827
	// DIS 116.440002 84.576877 63.936757 45.711112
	// AWH 44.599998 38.795824 30.961047 24.957332
	// DG 79.470001 55.619421 53.650768 54.297044
	// BMY 69.269997 47.526666 42.80052 32.369561
	// BX 39.610001 31.064205 19.683575 10.798957

// console.log($scope.positions);
	// var portfolio = positions
	// HARDCODE SOME HISTORICAL DATA

	var portfolio = [], holding;
	portfolio.push({symbol: "WRB", valuePct: 0.36, historicalQuotes: new Array (56.259998, 44.75884, 42.425345, 36.445827)});
	portfolio.push({symbol: "DIS", valuePct: 0.15, historicalQuotes: new Array (116.440002, 84.576877, 63.936757, 45.711112)});
	portfolio.push({symbol: "AWH", valuePct: 0.11, historicalQuotes: new Array (44.599998, 38.795824, 30.961047, 24.957332)});
	portfolio.push({symbol: "DG", valuePct: 0.09, historicalQuotes: new Array (79.470001, 55.619421, 53.650768, 54.297044)});
	portfolio.push({symbol: "BMY", valuePct: 0.14, historicalQuotes: new Array (69.269997, 47.526666, 42.80052, 32.369561)});
	portfolio.push({symbol: "BX", valuePct: 0.12, historicalQuotes: new Array (39.610001, 31.064205, 19.683575, 10.798957)});


	// FROM THESE, CALCULATE THE HISTORICAL GAINS

	for (holding in portfolio) {
		var historicalGain = [];
		historicalGain.push(0);
		for (var t=1; t<portfolio[holding].historicalQuotes.length; t++) {
			historicalGain.push((portfolio[holding].historicalQuotes[0] - portfolio[holding].historicalQuotes[t]) / portfolio[holding].historicalQuotes[0]);
		}
		portfolio[holding].historicalGain = historicalGain;
	}

	// HISTORICAL GAINS
	// WRB .2044 .2459 .3522
	// DIS .2736 .4509 .6074
	// AWH .1301 .3058 .4404
	// DG  .3001 .3248 .3168
	// BMY .3139 .3821 .5327
	// BX  .2157 .5031 .7274

	// ONE YEAR
	// BMY .3139 .3821 .5327
	// DG  .3001 .3248 .3168
	// DIS .2736 .4509 .6074
	// BX  .2157 .5031 .7274
	// WRB .2044 .2459 .3522
	// AWH .1301 .3058 .4404

	// TWO YEARS
	// BX  .2157 .5031 .7274
	// DIS .2736 .4509 .6074
	// BMY .3139 .3821 .5327
	// DG  .3001 .3248 .3168
	// AWH .1301 .3058 .4404
	// WRB .2044 .2459 .3522

	// THREE YEARS
	// BX  .2157 .5031 .7274
	// DIS .2736 .4509 .6074
	// BMY .3139 .3821 .5327
	// AWH .1301 .3058 .4404
	// WRB .2044 .2459 .3522
	// DG  .3001 .3248 .3168


	// CONVERT THE DATA INTO AN (x,y,y0) TUPLE

	var y0_1yr=[], y0_2yr=[], y0_3yr=[];

	for (holding in portfolio) {
		y0_1yr.push(0);
		y0_2yr.push(0);
		y0_3yr.push(0);
	}

	for (holding in portfolio) {
		for (var otherHolding in portfolio) {
			if (holding != otherHolding) {
				if (portfolio[holding].historicalGain[1] > portfolio[otherHolding].historicalGain[1]) {
					y0_1yr[holding] += portfolio[otherHolding].valuePct;
				}
				if (portfolio[holding].historicalGain[2] > portfolio[otherHolding].historicalGain[2]) {
					y0_2yr[holding] += portfolio[otherHolding].valuePct;
				}
				if (portfolio[holding].historicalGain[3] > portfolio[otherHolding].historicalGain[3]) {
					y0_3yr[holding] += portfolio[otherHolding].valuePct;
				}
			}
		}
	}

	var portfolio_tuples = [], holding_samples = [];

	for (holding in portfolio) {
		samples = [];
		samples.push({symbol:portfolio[holding].symbol, x:0, y:portfolio[holding].valuePct, y0:y0_1yr[holding]});
		samples.push({symbol:portfolio[holding].symbol, x:1, y:portfolio[holding].valuePct, y0:y0_2yr[holding]});
		samples.push({symbol:portfolio[holding].symbol, x:2, y:portfolio[holding].valuePct, y0:y0_3yr[holding]});
		portfolio_tuples.push(samples);
	}


	// RUN THE VISUALIZATION d3.layout.stack()

	var n = 6, // number of symbols
	    m = 3, // number of samples per symbol
	    // stack = d3.layout.stack(),
	    // symbols = stack(d3.range(n).map(function() { return bumpLayer(m, .1); })),
	    stack = d3.layout.stack()
	    	.values(function(d) { return d.y; }),

	    symbols = portfolio_tuples,
	    yGroupMax = d3.max(symbols, function(layer) { return d3.max(layer, function(d) { return d.y; }); }),
	    yStackMax = d3.max(symbols, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

	// console.log("symbols:");
	for(var symbolNum=0; symbolNum<symbols.length; symbolNum++) {
		var thisSymbol = symbols[symbolNum];
		var thisSymbolData = "[ ";
		for (var sampleNum=0; sampleNum<thisSymbol.length; sampleNum++) {
			var thisSampleNum = thisSymbol[sampleNum];
			thisSymbolData += "{";
			thisSymbolData += thisSampleNum.x+","+thisSampleNum.y+","+thisSampleNum.y0;
			thisSymbolData += "} ]";
		}
			// console.log("symbols["+symbolNum+"] has {x,y,y0} data: "+thisSymbolData);
	}
	// console.log("yGroupMax = "+yGroupMax);
	// console.log("yStackMax = "+yStackMax);

	var margin = {top: 40, right: 10, bottom: 20, left: 10},
	    width = 960 - margin.left - margin.right,
	    height = 500 - margin.top - margin.bottom;

	var x = d3.scale.ordinal()
	    .domain(d3.range(m))
	    .rangeRoundBands([0, width], .08);

	var y = d3.scale.linear()
	    .domain([0, yStackMax])
	    .range([height, 0]);

	var color = d3.scale.linear()
	    .domain([0, n - 1])
	    .range(["#aad", "#556"]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .tickSize(0)
	    .tickPadding(6)
	    // .ticks(3)
	    // .tickValues(["A","B","C"])
	    .orient("bottom");

	var svg = d3.select("body").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("text")
.attr("x", width/2)
.attr("y", height+margin.bottom)
.style("text-anchor", "middle")
.text("Date");

	var layer = svg.selectAll(".layer")
	    .data(symbols)
	  .enter().append("g")
	    .attr("class", "layer")
	    .style("fill", function(d, i) { return color(i); });

	var rect = layer.selectAll("rect")
	    .data(function(d) { return d; })
	  .enter().append("rect")
	    .attr("x", function(d) { return x(d.x); })
	    .attr("y", height)
	    .attr("width", x.rangeBand())
	    .attr("height", 0);

	// svg.selectAll("text")
	// 	.data(symbols)
	// 	.enter()
	// 	.append("text")
	// 	.text("foo")

	// 	// .text(function(d,i) { return y(d.y) })
	// 	.attr("x", function(d,i) { return i * (width / (m*n)) + 6; })
	// 	// .attr("x", function(d,i) { return i * d.x; })
	// 	.attr("y", function(d) { return height; });


	rect.transition()
	    .delay(function(d, i) { return i * 10; })
	    .attr("y", function(d) { return y(d.y0 + d.y); })
	    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); });

	svg.append("g")
	    .attr("class", "x axis")
	    .attr("transform", "translate(0," + height + ")")
	    .call(xAxis);

	d3.selectAll("input").on("change", change);

	var timeout = setTimeout(function() {
	  d3.select("input[value=\"grouped\"]").property("checked", true).each(change);
	}, 2000);

	function change() {
	  clearTimeout(timeout);
	  if (this.value === "grouped") transitionGrouped();
	  else transitionStacked();
	}

	function transitionGrouped() {
	  y.domain([0, yGroupMax]);

	  rect.transition()
	      .duration(500)
	      .delay(function(d, i) { return i * 10; })
	      .attr("x", function(d, i, j) { return x(d.x) + x.rangeBand() / n * j; })
	      .attr("width", x.rangeBand() / n)
	    .transition()
	      .attr("y", function(d) { return y(d.y); })
	      .attr("height", function(d) { return height - y(d.y); });
	}

	function transitionStacked() {
	  y.domain([0, yStackMax]);

	  rect.transition()
	      .duration(500)
	      .delay(function(d, i) { return i * 10; })
	      .attr("y", function(d) { return y(d.y0 + d.y); })
	      .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
	    .transition()
	      .attr("x", function(d) { return x(d.x); })
	      .attr("width", x.rangeBand());
	}

	// modified bumpLayer() function
	// function bumpLayer(n, o) {

	//   var a = [], i;
	//   	  for (i = 0; i < n; ++i) a[i] = Math.floor(Math.random()*5);

	//   return a.map(function(d, i) { return {x: i, y: Math.max(0, d)}; });
	// }

</script>







</div>