<div ng-controller="DashboardController">	
	<div id="dvImportSegments" class="fileupload ">

 	    <fieldset>
	        <legend>Upload your CSV file</legend>
	        <form>
	<!--         	<div class="row">
	        		<div class="four columns">
			            <input class="button-primary" type="text" name="text" id="text" ng-model="newPositionsFile.text"/>
			        </div>
			    </div> -->
	        	<div class="row">
	        		<div class="four columns">
			            <input class="button-primary" type="file" name="File Upload" id="csvFileUpload" accept=".csv" fileread="newPositionsFile.uploadme"/>
			        </div>
			    </div>
		        <div class="row">
		        	<div class="two columns">
		        		<!-- <input type="hidden" id="foo" name="fooname" value="foovalue" ng-model="newPositionsFile.foo"> -->
			            <input class="button-primary" type="submit" value="upload position(s)" ng-click="addPositionsViaFile()"</input>
	            	</div>
	            </div>
	        </form>
	   	</fieldset>

	    <fieldset>
	        <legend>Manually enter each position</legend>
	    	<form>
	    		<div class="row">
	    			<div class="three columns">
			            <label for="symbol">Symbol:</label>
			            <input type="text" id="man_symbol" name="symbol" ng-model="newManualPosition.symbol">
			        </div>
			        <div class="two columns">
			            <label for="qty">Qty:</label>
			            <input type="text" id="man_qty" name="qty" ng-model="newManualPosition.qty">
			            <!-- <input type="submit" value="add"> -->
			        </div>
			    </div>
			    <div class="row">
					<input class="button-primary" type="submit" value="add position" ng-click="addPositionManually()"></input>
				</div>
	        </form>
	   	</fieldset>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Symbol</th>
				<th>Qty</th>
				<th>Quote</th>
				<th>Value</th>
				<th>ValuePct</th>
				<th>1yearAgo</th>
				<th>2yearAgo</th>
				<th>3yearAgo</th>

			</tr>
		</thead>
		<tbody id="allData">
			<tr ng-repeat="position in positions | orderBy:'-valuePct'">
				<td>{{position.name}}</td>
				<td>{{position.symbol}}</td>
				<td>{{position.qty}}</td>
				<td>${{position.quote}}</td>
				<td>${{position.value}}</td>
				<td>{{position.valuePct}}%</td>
				<td>${{position.historicalQuotes[1]}}</td>
				<td>${{position.historicalQuotes[2]}}</td>
				<td>${{position.historicalQuotes[3]}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<th>TOTAL:</th>
				<th>${{getTotal()}}</th>
				<th>100%</th>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		</tbody>
	</table>

		    <div id="d3plot">
<!-- 	        <form>
	            <h6><input class="radiobox" type="radio" name="mode" value="grouped" checked> Grouped</h6>
	            <h6><input class="radiobox" type="radio" name="mode" value="stacked"> Stacked</h6>
	        </form> -->
	    </div>

	<script>



</script>







</div>